<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Добавьте сюда ваши собственные стили */
        body {
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: auto;
        }
        h1 {
            margin-bottom: 20px;
        }
        .btn-confirm {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Удаление клиента</h1>
        <p>Вы действительно хотите удалить Этого клиента "{{ customers.last_name }} {{ customers.first_name }} {{ customers.middle_name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'customer_list' %}" class="btn btn-secondary btn-confirm">Отмена</a>
            <button type="submit" class="btn btn-danger btn-confirm">Удалить без возврата</button>
        </form>
    </div>
</body>
</html>
